{% extends "accounts/login.html" %}
{% load i18n admin_static %}
{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block body %}

<body class="hold-transition lockscreen">
    <!-- Automatic element centering -->
    <div class="lockscreen-wrapper">
        <div class="lockscreen-logo">
            <b>IDC 运维管理平台</b>
        </div>
        <!-- User name -->
        <div class="lockscreen-name">idcops</div>
        <!-- START LOCK SCREEN ITEM -->
        <br>
        <div class="reset-message">
            <p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}
            </p>

            <p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}
            </p>

        </div>
        <div class="text-center">
            <a href="{% url 'idcops:login' %}">{% trans 'Log in again' %}</a>
        </div>
        <div class="lockscreen-footer text-center">

            <br>
            Copyright &copy; 2016 <b>IDCOPS</b><br>
            All rights reserved
        </div>
    </div>
    <!-- /.center -->
</body>
{% endblock %}